<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Lippert.Core.Tests" type="Lippert.Core.Tests.Configuration.Config, Lippert.Core.Tests"/>
	</configSections>

	<Lippert.Core.Tests FromAddress="NoReply@example.com">
		<ElementA Timeout="60"></ElementA>
	</Lippert.Core.Tests>
</configuration>